@media (prefers-color-scheme: dark) {
    body {
        background-color: #0F0F0F;
        color: #F0F0F0;
    }

    input {
        background: #0f0f0f;
        color: #f0f0f0;
        border-color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #F0F0F0;
        color: #0F0F0F;
    }

    input {
        background: #f0f0f0;
        color: #0f0f0f;
        border-color: black;
    }
}

body {
    font-family: "Montserrat";
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes titlebar-animation {
    0% {
      background: #6495ed;
    }
    50% {
      background: #404;
    }
    100% {
      background: #6495ed;
    }
  }

titlebar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    height: 50px;
    font-size: 24px;
    animation: titlebar-animation 15s ease-in-out infinite;
    color: white;
    &>span {
        width: 101.53px;
        &>sup {
            font-weight: normal;
            font-size: x-small;
            top: -7.5px;
            position: relative;
            left: -30px;
        }
    };
}

math>* {
    margin: 0px 0px;
}

body>*:not(:last-child) {
    margin-bottom: 32px;
}

input {
    font-family: math;
    width: 75%;
    height: 75px;
    text-align: center;
    font-size: 24px;
    border-radius: 15px;
    border-style: solid;
}

mathcontainer {
    min-width: 32px;
    min-height: 32px;
    border-radius: 16px;
    background: #f5f5f5;
    height: fit-content;
    width: fit-content;
    padding: 16px 32px;
    color: #0a0a0a;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    br {
        line-height: 12px;
    }
}

article {
    display: flex;
    width: 75%;
    height: fit-content;
    flex-direction: column;
    align-items: center;

    & heading {
        font-size: 64px;
    };
    
    & *:not(heading) {
        font-weight: normal;
    };
    
    & small {
        font-size: x-small;
        font-style: italic;
        opacity: 50%;
    };
    
    & hr:first-of-type {
        width: 80%;
    };
    
    & hr {
        opacity: 75%;
    };
    
    & hr:nth-of-type(2) {
        width: 60%;
    };
    
    & span {
        text-align: center;
    };
    
    & ul>* {
        line-height: 2;
    };
    
    & ul {
        text-align: center;
    };
    
    & kbd {
        background: whitesmoke;
        color: black;
        min-width: 19px;
        height: 18px;
        display: inline-block;
        line-height: 1.1;
        font-weight: bold;
        font-family: 'Montserrat';
        border-radius: 2.5px;
        border-color: #000a;
        border-style: inset;
        position: relative;
    };
}